# anything that says .volatile is purely here
# here in are the logs and caches
**/.volatile
**/.volatile-*

# anything that says .local is for development and will not be committed (unless explicitly commited for sample purposes)
# all questionable development can be done in .local and then put into modules as required
# .local is also used to store local junk by applications
**/.local
**/.local-*

